<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminder">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.CountDownTimerService"/>
        <activity android:name=".ui.setting.LoginActivity"></activity>
        <activity android:name=".ui.work.ui.ShowNoteActivity" />
        <activity android:name=".ui.work.ui.CreateNoteActitivy" />
        <activity android:name=".ShowEventActivity" />
        <activity android:name=".ui.work.ui.NoteActivity" />
        <activity android:name=".ui.work.ui.CountAgeActivity" />
        <activity android:name=".ui.work.ui.CountDayActivity" />
        <activity android:name=".ui.work.ui.CountTImeActivity" />
        <activity android:name=".ui.work.ui.StopwatchActivity" />
        <activity android:name=".ui.work.ui.TimerActivity" />
        <activity android:name=".ui.create.CreateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>